@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Tangerine:wght@700&display=swap');

.note {
  width: 180px;
  min-height: 80px;
  max-height: 120px;
  margin-left: 20px;
  padding: 10px;
  position: relative;

  text-align: center;
  font-family: 'Caveat';
  font-size: 20px;
  background-color:  rgba(178, 161, 142, 0.9);

  background-size: contain;
}

.delete {
  width: 20px;
  height: 20px;
  top: -6%;
  left: 95%;

  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background:no-repeat center/90% url('../../../public/delete.svg');

  transform: rotate3d(1, 1, 0, 35deg);
}

/* rgb(236,217,195); */